/* Universal */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* images */
img{
    width: 100%;
    display: block;
}
/* Search Bar and Title */
#searchTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}
.searchContainer{
    display: flex;
    height:180px;
    align-items: column;
    justify-content: center;
}
.searchContainer h3{
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color:#fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
#movie_Input{
    width: 1200px;
}
.movieDetail h3{
    font-weight: 600;
    font-size: 1rem;
}
.movieDetail p{
    font-size: 0.8rem;
    margin-top: .5rem;
    font-weight: 600;
    opacity: 0.7;
}

/* Movie Results img display */
.searchGrid img{
    height: 400px;
    object-fit: cover;
}
/* Movie Results detail/info display */
.movieInfo{
    text-align: center;
    margin: 0 auto;
}
.resultsBtn{
   margin-left: 10%;
}
/* Movie Results Layout */
.searchGrid{
    display: inline-block;
    flex-direction: row;
    margin-top: 0;
}


